/* FONT ROBOTO */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap");

* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:hover {
  color: unset;
}

a:hover {
  text-decoration: none;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset !important;
}

.btn.focus,
.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.button:hover {
  background-color: unset;
}

.topo {
  background-color: #000000;
  padding: 0.7rem 0;
}

.topo button {
  border: 2px solid #fffdfd;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: clamp(12px, 3vw, 20px);
}

.topo button:hover {
  background-color: #e7af41;
  border-color: #e7af41;
}

.introducao {
  color: #ffffff;
  padding: 2rem 0 2rem;
  background-image: url(../img/fundo-principal.jpg);
  background-position: center center;
  background-size: cover;
}

.introducao h1 {
  font-weight: bold;
  color: #e7af41;
  font-size: clamp(22px, 3vw, 36px);
}

.botao-padrao {
  color: #ffffff;
  max-width: 400px;
  height: 60px;
  /* background: #66cd74 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 0px #429b4e; */
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #66cd74;
  border: 2px solid #66cd74;
  font-weight: bolder;
  box-shadow: 0px 3px 0px #429b4e;
  line-height: 100%;
  font-size: clamp(22px, 3vw, 28px);
  font-weight: bold;
}

.botao-kits {
  max-width: 200px;
  font-size: clamp(18px, 3vw, 20px);
  height: 44px;
}

.ouro {
  background-color: #e7af41;
  border: none;
  box-shadow: 0px 3px 0px #c29334;
}

.prata {
  background-color: #8f8164;
  border: none;
  box-shadow: 0px 3px 0px #817357;
  margin-top: 4.5rem;
}

.bronze {
  background-color: #c66b08;
  border: none;
  box-shadow: 0px 3px 0px #ad5e0a;
  margin-top: 4.5rem;
}

.a-melhor-logistica {
  background-color: #f3f5f4;
  padding: 2rem 0 2rem;
}

.a-melhor-logistica h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.a-melhor-logistica h1 strong {
  color: #e7af41;
}

.a-melhor-logistica p {
  line-height: 170%;
}

.centro-de-distribuicao {
  padding: 2rem 0 2rem;
  background-image: url(../img/fundo.jpg);
  background-position: center center;
  background-size: cover;
}

.centro-de-distribuicao h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.centro-de-distribuicao h1 strong {
  color: #e7af41;
}

.anti-fraude,
.importacao-de-vendas,
.tela-de-transacao,
.tela-de-entradas,
.primeira-impressao {
  background-color: #f3f5f4;
  padding: 2rem 0 2rem;
}

.anti-fraude h1,
.importacao-de-vendas h1,
.tela-de-transacao h1,
.tela-de-entradas h1,
.primeira-impressao h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.anti-fraude h1 strong,
.importacao-de-vendas h1 strong,
.tela-de-transacao h1 strong,
.tela-de-entradas h1 strong,
.primeira-impressao h1 strong {
  color: #e7af41;
}

.anti-fraude i {
  font-size: 200px;
  color: #e7af41;
}

.integracao-com-outras-plataformas,
.controle-de-estoque,
.tela-de-produtos-e-kits,
.tela-de-rastreio,
.planos {
  padding: 3rem 0 3rem;
  background-image: url(../img/fundo.jpg);
  background-position: center center;
  background-size: cover;
}

.integracao-com-outras-plataformas h1,
.controle-de-estoque h1,
.tela-de-produtos-e-kits h1,
.tela-de-rastreio h1,
.planos h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.integracao-com-outras-plataformas h1 strong,
.controle-de-estoque h1 strong,
.tela-de-produtos-e-kits h1 strong,
.tela-de-rastreio h1 strong,
.planos h1 strong {
  color: #e7af41;
}

.integracao-com-outras-plataformas .img-container {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  border-radius: 15px;
}

.controle-de-estoque li,
.tela-de-transacao li,
.tela-de-produtos-e-kits li,
.tela-de-entradas li,
.tela-de-rastreio li {
  list-style: none;
}

.controle-de-estoque li i,
.tela-de-transacao li i,
.tela-de-produtos-e-kits li i,
.tela-de-entradas li i,
.tela-de-rastreio li i {
  margin-right: 0.5rem;
  line-height: 200%;
  color: #e7af41;
}

.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
}

.card-header {
  color: #ffffff;
  padding: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-header h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.plano-1 {
  background-color: #e7af41;
}

.plano-2 {
  background-color: #8f8164;
}

.plano-3 {
  background-color: #c66b08;
}

.speech-bubble-1,
.speech-bubble-2,
.speech-bubble-3 {
  position: relative;
}

.speech-bubble-1:after,
.speech-bubble-2:after,
.speech-bubble-3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-bottom: 0;
  margin-left: -22px;
  margin-bottom: -22px;
}

.speech-bubble-1:after {
  border-top-color: #e7af41;
}

.speech-bubble-2:after {
  border-top-color: #8f8164;
}

.speech-bubble-3:after {
  border-top-color: #c66b08;
}

.card-body ul {
  padding: 0;
}

.card-body ul li {
  list-style: none;
  margin-bottom: 10px;
}

.card-body ul li i {
  color: #e7af41;
  margin-right: 4px;
}

.footer {
  padding: 3rem 0 3rem;
  color: #ffffff;
  background-color: #000000;
}

.footer h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.copyright {
  font-weight: bold;
}

.swiper-container {
  width: 100%;
  /* height: auto; */
  min-height: 210px;
  height: 620px;
}

.swiper-container .swiper-slide {
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #000;
}

@media (max-width: 584px) {
  .prata,
  .bronze {
    margin-top: 0;
  }

  .swiper-container {
    height: 260px;
  }
}
