/* FONT ROBOTO */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap");

* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:hover {
  color: unset;
}

a:hover {
  text-decoration: none;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset !important;
}

.btn.focus,
.btn:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.button:hover {
  background-color: unset;
}

.topo {
  background-color: #000000;
  padding: 0.7rem 0;
}

.topo button {
  border: 2px solid #fffdfd;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: clamp(12px, 3vw, 20px);
}

.topo button:hover {
  background-color: #e7af41;
  border-color: #e7af41;
}

.introducao {
  padding: 2rem 0 2rem;
}

.introducao h1 {
  font-weight: bold;
  color: #e7af41;
  font-size: clamp(22px, 3vw, 36px);
}

.botao-padrao {
  color: #ffffff;
  max-width: 400px;
  height: 60px;
  /* background: #66cd74 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 0px #429b4e; */
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #66cd74;
  border: 2px solid #66cd74;
  font-weight: bolder;
  box-shadow: 0px 3px 0px #429b4e;
  line-height: 100%;
  font-size: clamp(22px, 3vw, 28px);
  font-weight: bold;
}

.a-melhor-logistica {
  background-color: #f3f5f4;
  padding: 2rem 0 2rem;
}

.a-melhor-logistica h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.a-melhor-logistica h1 strong {
  color: #e7af41;
}

.a-melhor-logistica p {
  line-height: 170%;
}

.centro-de-distribuicao {
  padding: 2rem 0 2rem;
  background-image: url(../img/fundo.jpg);
  background-position: center center;
  background-size: cover;
}

.centro-de-distribuicao h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.centro-de-distribuicao h1 strong {
  color: #e7af41;
}

.anti-fraude {
  background-color: #f3f5f4;
  padding: 2rem 0 2rem;
}

.anti-fraude h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.anti-fraude h1 strong {
  color: #e7af41;
}

.anti-fraude i {
  font-size: 200px;
  color: #e7af41;
}

.integracao-com-outras-plataformas {
  padding: 3rem 0 3rem;
  background-image: url(../img/fundo.jpg);
  background-position: center center;
  background-size: cover;
}

.integracao-com-outras-plataformas h1 {
  font-weight: bold;
  font-size: clamp(22px, 3vw, 36px);
  text-transform: uppercase;
}

.integracao-com-outras-plataformas h1 strong {
  color: #e7af41;
}

.integracao-com-outras-plataformas .img-container {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  border-radius: 15px;
}
